@model ReviewGenerator.Models.ReviewEntry
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="post">
    <button asp-controller="Home" asp-action="Index" asp-route-id="1">Generate Review</button>
    <br/>
</form>


<lable>Rating:</lable>
<p>@Html.DisplayTextFor(model => model.rating)</p>
<br/>

<lable>Review:</lable>
<p>@Html.DisplayTextFor(model => model.reviewText)</p>


